# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store

# coordinates
coords/__pycache__

# sequences
/sequences/__pycache__
/sequences/helper/
sequences/build/
/sequences/toonehot.c
/sequences/toonehot.cpython-311-x86_64-linux-gnu.so

# characteristics
/characteristics/__pycache__

characteristics/interval.all.obs_1.bw
resfold/
file_paths.txt

/build

__pycache__
.pytest_cache



