# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store

# coordinates
coords/__pycache__

# sequences
dnaloader/sequences/__pycache__
dnaloader/sequences/helper/
dnaloader/sequences/build/
dnaloader/sequences/toonehot.c
dnaloader/sequences/toonehot.cpython-311-x86_64-linux-gnu.so

# characteristics
dnaloader/characteristics/__pycache__
dnaloader/characteristics/test_pyx.py
dnaloader/characteristics/bwhelper.cpython-311-x86_64-linux-gnu.so
dnaloader/characteristics/bwhelper.c

dnaloader/characteristics/interval.all.obs_1.bw

/build

__pycache__
.pytest_cache
/test_with_csr.py
pathshelper



